name: CI/CD Pipeline

env:
  DOTNET_VERSION: '9.0.x'
  PROJECT_PATH: 'Frontend/Frontend.csproj'
  AZURE_WEBAPP_NAME: 'ci-cd-demo-app'
  PUBLISH_DIRECTORY: './publish'
  
on:
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore --configuration Release

      - name: Run tests
        run: dotnet test --no-build --configuration Release --verbosity normal

      - name: Publish
        run: dotnet publish ${{ env.PROJECT_PATH }} --configuration Release --output ${{ env.PUBLISH_DIRECTORY }}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ci_cd_demo
          path: ${{ env.PUBLISH_DIRECTORY }}


  deploy:
    needs: build-and-test
    runs-on: ubuntu-latest
    
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: ci_cd_demo
          path: ${{ env.PUBLISH_DIRECTORY }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: ${{ env.PUBLISH_DIRECTORY }} 